<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Carbon Footprint Calculator{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar-custom {
            background-color: #2F4F4F; 
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color: white; /* White text */
        }

        .navbar-custom .nav-link:active {
            color: black; /* Black text on click */
        }

        .navbar-right {
            margin-left: auto; /* Push to the far right */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Carbon Footprint</a>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.results') }}">Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.projects') }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.payments') }}">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.payment') }}">Pay your Eco Levy </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.products') }}">Products </a>

                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                </li>
                <li class="nav-item navbar-right">
                    <span class="navbar-text">{{ current_user.email }}</span>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
